.header{
  height: 2em;
  position: fixed;
  top: 0;
  border: 1px grey solid;
  opacity: 1;
  width: 100%;
  background-color:#1d527e;
  color: #ebf6f7 !important;
  font-weight: 400 !important;
  z-index: 10;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-radius: 0.3em;
}

.myPaddingLeft{
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  float: left;
};

.myPaddingRight{
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  float: right;
}
